*{
    margin : 0;
    padding : 0;
}

.cabeçalho {
    background-color: #5060b1;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabeçalho-imagem{
width: 5%;

}
.cabeçalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;

}